*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

#logo {
    vertical-align: middle;
}

header {
    padding: 10px;
}

/* / header */

/* main */
main {
    background-color: rgb(246 248 249);
    padding: 20px;
}

h1 {
    display: inline-block;
    font-family: 'Kanit', sans-serif;
    vertical-align: middle;
}

/* buttons */

.button-section {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.section {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    padding-left: 50px;
}

.button {
    font-size: 10px;
    padding: 2px 10px;
    height: 24px;
    border: 1px solid rgb(209 214 217);
    border-radius: 5px;
    font-weight: bold;
}

.add-task {
    background-color: rgb(71 173 241);
    color: white;
}

.add-section {
    background-color: white;
    color: rgb(209 214 217);
}

/* list section */

.list-section {
    margin-top: 1px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

li {
    list-style-type: none;
    margin: 10px 0;
}

.list-title {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

.list-object {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.type-list {
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center; 
    font-size: 10px;
}

.check{
    color: green;
    border: 1px solid green;
}

.cross {
    color: red;
    border: 1px solid red;
}

/* type list */

.type {
    font-size: 10px;
    padding: 2px 10px;
    height: 24px;
    border: 1px solid gray;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}

.editorial {
    background-color:  rgb(71 173 241);
}

.goals {
    background-color: rgb(156 114 228);
}

.recruiting {
    background-color: rgb(100 192 169);
}

.mobile {
    background-color: rgb(242 158 51);
}

.website {
    background-color: rgb(216 99 161);
}

.sales {
    background-color: rgb(176 201 38);
}

/* /list section */

/* font-family: 'Kanit', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */